*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

@media screen and (min-width: 1023px) {
    #gridwrapper{
        display:grid;
        height: 200vh;
        width: 100vw;
        grid-template-areas: 
        'he he he he'
        'na na na na'
        'a1 a1 a1 a1'
        'a2 a2 a2 a2'
        'a2 a2 a2 a2'
        'a3 a3 a3 a3'
        'a3 a3 a3 a3'
        'fo fo fo fo';
        grid-template-columns: repeat(4 *1fr);
        grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    }
}

#gridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'na he he he'
    'a1 a1 a1 a1'
    'a2 a2 a2 a2'
    'a2 a2 a2 a2'
    'a3 a3 a3 a3'
    'a3 a3 a3 a3'
    'fo fo fo fo';
    grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}
#header{
    grid-area: he;
    background-color: cornflowerblue;
}

#nav{
    grid-area: na;
    background-color: crimson;
}

#article1{
 grid-area: a1;
 background-color: darkcyan;
}

#article2{
    grid-area: a2;
    background-color: darkgoldenrod;
}

#article3{
    grid-area: a3;
    background-color: darkgreen;
}

#footer{
    grid-area: fo;
    background-color: darkkhaki;
}


/* Tränings sida */


#tgridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'tna the the the'
    'tas tas tas tas'
    'ta1 ta1 ta1 ta1'
    'ta2 ta2 ta2 ta2'
    'ta3 ta3 ta3 ta3'
    'ta4 ta4 ta4 ta4'
    'ta5 ta5 ta5 ta5'
    'tfo tfo tfo tfo';
grid-template-columns: repeat(4 *1fr);
grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

#theader{
    grid-area: the;
    background-color: aqua;
}

#tnav{
    grid-area: tna;
    background-color: brown;
}

#taside{
    grid-area: tas;
    background-color: burlywood;
}

#tarticle2{
    grid-area: ta2;
    background-color: cadetblue;
}

#tarticle3{
    grid-area: ta3;
    background-color: cadetblue;
}

#tarticle4{
    grid-area: ta4;
    background-color: cadetblue;
}

#tarticle5{
    grid-area: ta5;
    background-color: cadetblue;
}

#tfooter{
    grid-area: tfo;
    background-color: coral;
}


/* Kappsegling */

#kgridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'kna khe kne khe';
grid-template-columns: repeat(4 *1fr);
grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}