*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

@media screen and (min-width: 1023px) {
    #gridwrapper{
        display:grid;
        height: 200vh;
        width: 100vw;
        grid-template-areas: 
        'he he he he'
        'na na na na'
        'a1 a1 a1 a1'
        'a2 a2 a2 a2'
        'a2 a2 a2 a2'
        'a3 a3 a3 a3'
        'a3 a3 a3 a3'
        'fo fo fo fo';
        grid-template-columns: repeat(4 *1fr);
        grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
        
    }
    body{
        background-image: url("../img/IMG_6581.jpg");
    }
    #header{
        display:grid;
        grid-template-columns: 0.5fr 3fr ;
        grid-template-rows: 1fr;
        opacity:70%;
        }

#nav{
    display:flex;
    align-items: center;
    justify-content: center;
}
    
ul{
    list-style-type: none;
    word-spacing: 50px;
}

li{
    float: left;
}
    
}



@media screen and (max-width: 1022px) {
#gridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'na he he he'
    'a1 a1 a1 a1'
    'a2 a2 a2 a2'
    'a2 a2 a2 a2'
    'a3 a3 a3 a3'
    'a3 a3 a3 a3'
    'fo fo fo fo';
    grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    
}

/* meny mobil */
#nav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height:1fr ;
    background-color: rgb(54, 105, 54);
    font-size: sans-serif;
    
}

.navLinks{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:absolute;
    left:0px;
    height:90vh;
    top:-90vh;
    align-items: center;
    background-color: rgb(54, 105, 54);
    width: 32%;
    transition: all 1s;
}

.navActive{
    transform: translateY(100vh);
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger{
    margin:50px;
    cursor: pointer;
}

.burger div{
  height:3px;
  width: 25px;
  background-color: white;
  margin:5px;
  border-radius: 10%;
  transition: all 0.4s;

}

.toggle .Line1{
    transform:rotate(-45deg) translate(-5px, 6px);
}

.toggle .Line2{
    opacity:0;
}

.toggle .Line3{
    transform:rotate(45deg) translate(-5px, -6px);
    /* meny mobil slutar */

    /* träning */

    #tgridwrapper{
        display:grid;
        height: 200vh;
        width: 100vw;
        grid-template-areas: 
        'tna the the the'
        'tas tas tas tas'
        'ta1 ta1 ta1 ta1'
        'ta2 ta2 ta2 ta2'
        'ta3 ta3 ta3 t3a'
        'ta4 ta4 ta4 ta4'
        'ta5 ta5 ta5 ta5';
    grid-template-columns: repeat(4 *1fr);
    grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    }


/* kappsegling */
#kgridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'kna khe kne khe';
grid-template-columns: repeat(4 *1fr);
grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}
} 


}
#header{
    grid-area: he;
    background-color:white;
    
}

#nav{
    grid-area: na;
    background-color: rgb(54, 105, 54);
    grid-gap: 2px;
}

#article1{
 grid-area: a1;
 background-color: white
}

#article2{
    grid-area: a2;
    background-color: white;
}

#article3{
    grid-area: a3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    grid-area: fo;
    background-color: rgb(54, 105, 54);
}

.se1{
 background-color:white;
 display:flex;
 justify-content: center;
}

/* .se2{
    background-image: url("../img/IMG_6581.jpg");
} */




a{
    text-decoration: none;
}

h2{
    color:white;
    
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    font-family: sans-serif;
}

/* Tränings sida */

@media screen and (max-width: 1022px) {
#tgridwrapper{
    display:grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'tna the the the'
    'tas tas tas tas'
    'ta1 ta1 ta1 ta1'
    'ta2 ta2 ta2 ta2'
    'ta3 ta3 ta3 ta3'
    'ta4 ta4 ta4 ta4'
    'ta5 ta5 ta5 ta5'
    'tfo tfo tfo tfo';
grid-template-columns: repeat(4 *1fr);
grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
}


}

#theader{
    grid-area: the;
    background-color: aqua;
}

#tnav{
    grid-area: tna;
    background-color: brown;
   
}

#taside{
    grid-area: tas;
    background-color: burlywood;
}

#tarticle2{
    grid-area: ta2;
    background-color: cadetblue;
    
}

#tarticle3{
    grid-area: ta3;
    background-color: cadetblue;
    
}

#tarticle4{
    grid-area: ta4;
    background-color: cadetblue;
    
    
}

#tarticle5{
    grid-area: ta5;
    background-color: cadetblue;
    
}

#tfooter{
    grid-area: tfo;
    background-color: coral;
    
}

/* webshop */

#wheader{
    grid-area: whe;
    background-color: aqua;
}

#wnav{
    grid-area: wna;
    background-color: brown;
   
}

#waside{
    grid-area: was;
    background-color: burlywood;
}

#warticle2{
    grid-area: wa2;
    background-color: cadetblue;
    
}

#warticle3{
    grid-area: wa3;
    background-color: cadetblue;
    
}

#warticle4{
    grid-area: wa4;
    background-color: cadetblue;
    
    
}

#warticle5{
    grid-area: wa5;
    background-color: cadetblue;
    
}
    


#wfooter{
    grid-area: wfo;
    background-color: coral;
    
}

/* seglarskola */


#sheader{
    grid-area: she;
    background-color: aqua;
}

#snav{
    grid-area: sna;
    background-color: brown;
   
}

#saside{
    grid-area: sas;
    background-color: burlywood;
}

#sarticle2{
    grid-area: sa2;
    background-color: cadetblue;
    
}

#sarticle3{
    grid-area: sa3;
    background-color: cadetblue;
    
}

#sarticle4{
    grid-area: sa4;
    background-color: cadetblue;
    
    
}

#sarticle5{
    grid-area: wa5;
    background-color: cadetblue;
    
}
    


#sfooter{
    grid-area: sfo;
    background-color: coral;
    
}

